.container {
  margin: 3rem;
  display: flex;
  flex-direction: column;

  .selectbuttons {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    align-self: center;
    margin-bottom: 50px;

    span {
      font-size: 20px;
      margin-right: 10px;
      padding-top: 15px;
    }

    button {
      height: 50px;
      outline: none;
      color: #FFFFFF;
      background: #6d3b23;
      cursor: pointer;
      border: none;
      font-size: 20px;

      &.active {
        background: #194417;
      }
    }
  }

  .buddies {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

    .buddy {
      margin: 5px;
    }
  }

  .reset {
    margin: 0 auto;
    display: block;
    padding-top: 3rem;
    align-self: center;

    button {
      align-self: center;
    }
  }
}
